.DS_Store

vim/*/*/plugged

zsh/.zsh_history

kubernetes/*/config


/kubernetes/.kube/cache/
/vim/.config/nvim/*.json
/karabiner/.config/karabiner/automatic_backups/

vim/.config/nvim/plugin/packer_compiled.lua
.zim

zsh/.zsh_history
zsh/zsh/plugins

ignore.lua

__pycache__

ranger/.config/ranger/plugins

.zshrc.other
